IO_LOC "CLK" H11;
IO_PORT "CLK" IO_TYPE=LVCMOS18 BANK_VCCIO=1.8;
IO_LOC "RESET" T3;
IO_PORT "RESET" IO_TYPE=LVCMOS18 BANK_VCCIO=1.8;
IO_LOC "LEDS[3]" L16;
IO_PORT "LEDS[3]" IO_TYPE=LVCMOS18 DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDS[2]" L14;
IO_PORT "LEDS[2]" IO_TYPE=LVCMOS18 DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDS[1]" N14;
IO_PORT "LEDS[1]" IO_TYPE=LVCMOS18 DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDS[0]" N16;
IO_PORT "LEDS[0]" IO_TYPE=LVCMOS18 DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "RXD" P6;
IO_PORT "RXD" IO_TYPE=LVCMOS18 BANK_VCCIO=1.8;
IO_LOC "TXD" T6;
IO_PORT "TXD" IO_TYPE=LVCMOS18 DRIVE=8 BANK_VCCIO=1.8;
